:root {
  /* change the values below to your colors from your palette */
  /* https://coolors.co/ff385c-ffd9da-30343f-1b2021 */
  --primary-color: #ff385c   ;
  --secondary-color: #ffd9da ;
  --accent1-color: #30343f;
  --accent2-color: #1b2021;

  /* change the values below to your chosen font(s) */
  --heading-font: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  --paragraph-font: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #ff385c;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #ff385c; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #ff385c  ;
  --nav-link-color: #ff385c;
  --nav-background-color: #30343f;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #ff385c;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  font-family: 'Circular','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;;
} 
header {
  overflow: hidden;
  background-color: var(--nav-background-color);
  padding: 8px 10px;
}

header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

header a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

header a.active {
  background-color: dodgerblue;
  color: white;
}

header-right {
  float: right;
}


@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  header-right {
    float: none;
  }
}
