.body{
    line-break: strict;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
}

.nav-bar{
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 100;
    height: 64px;
    box-sizing: border-box;
}

.sign-up-btn{
    position: relative;
    
}

.main-pic{
    max-width: 100%;
    width: 75%;
    object-fit: cover;
    height: 100%;
    margin-left: 25%;
    border-radius: 8px;
}
