:root {
  /* change the values below to your colors from your palette */
  /* https://coolors.co/ff385c-ffd9da-30343f-1b2021 */
  --primary-color: #ff385c   ;
  --secondary-color: #ffd9da ;
  --accent1-color: #30343f;
  --accent2-color: #1b2021;

  /* change the values below to your chosen font(s) */
  --heading-font: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  --paragraph-font: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #ff385c;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #ff385c; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #ff385c  ;
  --nav-link-color: #ff385c;
  --nav-background-color: #30343f;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #ff385c;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Circular','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;;
} 
header{
  display: flex;
  justify-content: space-between;
  z-index: 100;
  height: 64px;
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
  border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
.wireframe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.home {
  grid-column: 1/2;
}
.pay {
  grid-column: 2/3;
}
.cont {
  grid-column: 3/4;
}
#home-btn{
  float: left;
}
.rnav {
  float: right;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  line-break: strict;
}
.nav-btn {
  align-items: center;
  box-sizing: border-box;
  display: block;
  height: 60.0156px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  position: absolute;
  cursor: pointer;
}
#site-content {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.base {
  padding-top: 40px;
  padding-bottom: 43px;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  top: 0;
  position: absolute
}
.bkg-img {
  margin-left: 25%;
  border-radius: 8px;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 75%;
}
.reg-box {
  display: block;
  box-sizing: border-box;
}
.reg {
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
  width: 420px;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
}
.jumbo-header {
  margin-bottom: 16px;
}
.jumbo-con {
  margin-bottom: 8px;
  color: #222222;
  font-size: 32px;
  line-height: 36px;
}
.mino-con {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #717171;
}
.form-b {
  width: 100%;
  background: #FFFFFF;
}
.form-in {
  width: calc(100% - 1px);
  padding: 8px 16px;
  box-shadow: #dddddd 0 0 0 1px inset;
  border-radius: 8px;
  display: inline-block;
}
.form-inner {
  position: relative;
  cursor: text;
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 0px;
  border: none;
  color: #222222;
  background-color: #FFFFFF;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
label {
  cursor: default;
}
.form-label {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 0px;
  position: relative;
  font-size: 10px;
  line-height: 12px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 800;
  box-sizing: border-box;
}
.dp-flex {
  display: flex;
}
.form-min {
  width: 100%;
  border: none;
  outline: none;
  min-height: 1px;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  color: #222222;
}
.site-margin {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}
.next-label {
  margin-top: 8px;
  background: #FFFFFF;
  width: 100%;
}
.label-min {
  display: flex;
  justify-content: space-between;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
}
.label-padding {
  height: 56px;
    display: inline-block;
    width: 50%;
    padding: 8px 16px;
    box-shadow: default;
    border-radius: 8px;
    border: 0;
    outline: none;
}
.divider {
  background: #DDDDDD;
  width: 1px;
  height: 42px;
  top: 9px;
  position: relative;
}
.check {
  pointer-events: none;
  font-size: 10px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 800;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.add-date {
  font-family: Circular,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 400;
  height: auto;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}
.people {
  width: 50%;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  border: 0;
}
.people-cnt {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0px;
  border: none;
  color: #222222;
  background-color: #FFFFFF;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.carrot {
  position: relative;
  flex: 1 1 auto;
  padding: 0px;
}
.number-trig {
  height: auto;
  width: 100%;
  border: none;
  outline: none;
  margin: 0px;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0px;
}
.legit-carrot {
  position: absolute;
  right: 0px;
  display: inline-block;
  justify-content: center;
  height: auto;
  min-width: auto;
  pointer-events: none;
  color: #222222;
  bottom: 2px;
  padding: 0px;
}
.search {
  --dls19-brand-color: #FF385C;
  --dls19-ui-brand-color: #222222;
  --dls19-pdp-listing-title-weight: 600;
  --dls19-pdp-listing-title-size: 26px;
  --dls19-pdp-listing-title-line-height: 30px;
  --dls19-brand-gradient: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%)
}
.search-submit {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  padding: 14px 24px;
  border: none;
  cursor: pointer;
  margin: 0;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  touch-action: manipulation;
} 
.search-align {
  left: 0;
  right: 0;
  border-radius: 8px;
  position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.search-dim {
  background-size: 200% 200%;
  display: block;
    width: 100%;
    height: 100%;
    min-width: 200px;
    opacity: 0;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}
.search-icon {
  display: block;
  position: relative;
  pointer-events: none;
}
.search-text {
  margin-left: 4px;
}